/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@import './utils/mixin';
@import './utils/variables';

*,
*::before,
*::after {
  // outline:1px solid red ;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  background-color: $primary-bg;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* стиль ссылок*/
a {
  color: $white-text-color;
  text-decoration: none;
  transition: all 250ms linear;
  &:hover,
  &:focus {
    color: $gray-text-color;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 19px;

  @include for-size(tablet) {
    width: 768px;
    padding-left: 40px;
    padding-right: 38px;
  }
  @include for-size(desktop) {
    width: 1200px;
    padding-left: 50px;
    padding-right: 46px;
  }
}
.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  padding-top: 21px;

  &-logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    &-word {
      color: $green-text-color;
    }
  }

  &-nav-list {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    &-li:not(:last-child) {
      margin-right: 11px;
    }
  }
}
.hero {
  padding-top: 144px;
  padding-bottom: 95px;
  background-image: url('../images/optimise-images/mobile-hero.jpg');
  background-repeat: no-repeat;
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 96dpi) and (min-width: 320px),
    screen and (min-resolution: 1dppx) and (min-width: 320px) {
    background-image: url('../images/optimise-images/mobile-hero2x.jpg');
  }

  @include for-size(tablet) {
    padding-top: 144px;
    background-image: url('../images/optimise-images/tablet-hero.jpg');
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 96dpi) and (min-width: 768px),
      screen and (min-resolution: 1dppx) and (min-width: 768px) {
      background-image: url('../images/optimise-images/tablet-hero2x.jpg');
    }
  }
  @include for-size(desktop) {
    padding-top: 279px;
    background-image: url('../images/optimise-images/desktop-hero.jpg');
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 96dpi) and (min-width: 768px),
      screen and (min-resolution: 1dppx) and (min-width: 768px) {
      background-image: url('../images/optimise-images/desktop-hero2x.jpg');
    }
  }
  &-title {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: $gray-text-color;
    font-weight: 300;
    font-size: 52px;
    line-height: 1.62;
  }
  &-text {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
    color: $gray-text-color;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.67;
  }
  &-button {
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 27px;
    width: 156px;
    height: 45px;
    background-color: $green-bg;
    color: $white-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 5px;
    fill: $white-text-color;
    &:hover,
    &:focus {
      background-color: $white-text-color;
      color: $green-text-color;
      fill: $green-text-color;
    }
  }
}

.about {
  color: $black-text-color;
  font-weight: 400;
  &-list {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 13px;
  }
  &-circle {
    margin: 0 auto;
    margin-bottom: 11px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $green-bg;
    text-align: center;
    padding-top: 15px;
  }
  &-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.66;
  }
  &-text {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 1.6;
  }
  &-description {
    background-color: $green-bg;
    color: $white-text-color;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.66;
      margin-bottom: 5px;
    }
    &-title {
      font-weight: 300;
      font-size: 38px;
      line-height: 1.26;
      margin-bottom: 25px;
    }
    &-full {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 14px;
    }
  }
}
.button {
  border-color: $white-text-color;
}

.cases {
  padding-top: 50px;
  color: $black-text-color;
  font-weight: 400;
  text-align: center;
  padding-bottom: 39px;
  &-description {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 15px;
  }
  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 35px;
  }
  &-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 37px;
  }
  &-list {
    display: block;
    margin: 0 auto;
    &-photo {
      margin-bottom: 7px;
    }
  }
}

.blog {
  background-color: $blue-bg;
  color: $white-text-color;
  padding-bottom: 30px;
  &-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 5px;
    padding-left: 30px;
    padding-top: 30px;
  }
  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 25px;
    padding-left: 30px;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;
  }
  &-button {
    background-color: $blue-bg;
    border-color: $white-text-color;
    &:hover,
    &:focus {
      color: $blue-bg;
      background-color: $white-text-color;
    }
  }
}
.team {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  &-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 15px;
  }
  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 35px;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 37px;
  }
}
.member{
  &-name {
    margin-top: 15px;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.25;
    margin-bottom: 11px;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
} 
.request {
  background-color: $secondary-bg;
  padding-bottom: 30px;
  &-title {
    margin-top: 26px;
    margin-bottom: 34px;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
  }
  &-input {
    display: block;
    margin: 0 auto;
    margin-bottom: 36px;
    width: 260px;
    height: 40px;
    background-color: $white-text-color;
    border: none;
  }
  &-button {
    width: 260px;
  }
}
.footer {
  // height: 110px;
  color: $white-text-color;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $black-text-color;
  &-social-links {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    width: 256px;
    justify-content: space-between;
  }
}