/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@import './utils/mixin';
@import './utils/variables';

*,
*::before,
*::after {
  // outline:1px solid red ;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  background-color: $primary-bg;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* стиль ссылок*/
a {
  color: $white-text-color;
  text-decoration: none;
  transition: all 250ms linear;
  &:hover,
  &:focus {
    color: $gray-text-color;
  }
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 19px;

  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1360px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  padding-top: 21px;
   @include for-size(tablet) {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  &-logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    &:hover,
    &:focus {
      transform: scale(1.15);
      // transform: brightness(0.5);
    }
     @include for-size(tablet) {
      font-size: 35px;
      }
    &-word {
      color: $green-text-color;
    }
  }

  &-nav-list {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-decoration: underline;
    &-li:not(:last-child) {
      margin-right: 11px;
    }
     @include for-size(tablet) {
      font-size: 18px;
      }
  }
}
.hero {
  padding-top: 144px;
  padding-bottom: 95px;
  background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/optimise-images/mobile-hero.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 96dpi) and (min-width: 320px),
    screen and (min-resolution: 1dppx) and (min-width: 320px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/optimise-images/mobile-hero2x.jpg');
  }

  @include for-size(tablet) {
    height: 1024px;
    padding-top: 407px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/optimise-images/tablet-hero.jpg');
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 96dpi) and (min-width: 768px),
      screen and (min-resolution: 1dppx) and (min-width: 768px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/optimise-images/tablet-hero2x.jpg');
    }
  }
  @include for-size(desktop) {
    height: 768px;
    padding-top: 279px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/optimise-images/desktop-hero.jpg');
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 96dpi) and (min-width: 768px),
      screen and (min-resolution: 1dppx) and (min-width: 768px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/optimise-images/desktop-hero2x.jpg');
    }
  }
  &-title {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: $gray-text-color;
    font-weight: 300;
    font-size: 52px;
    line-height: 1.62;
    @include for-size(tablet) {
      font-size: 55px;
      }
  }
  &-text {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
    color: $gray-text-color;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.67;
  }
  &-button {
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 27px;
    width: 156px;
    height: 45px;
    background-color: $green-bg;
    color: $white-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 5px;
    fill: $white-text-color;
    @include for-size(tablet) {
      width: 165px;
      height: 48px;
      }
    &:hover,
    &:focus {
      // background-color: $white-text-color;
      // color: $green-text-color;
      // fill: $green-text-color;
      opacity: 0.5;
    }
  }
}

.about {
  color: $black-text-color;
  font-weight: 400;
  @include for-size(tablet) {
    width: 768px;
    margin: 0 auto;
    &-details {
      display: flex;
       }
  }
    @include for-size(desktop) {
      width: 1360px;
  }
  &-list {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 13px;
   
    @include for-size(tablet) {
      display: flex;
      padding-top: 40px;
      padding-bottom: 29px;
      justify-content: space-between;
      }
      &-item {
        @include for-size(tablet) {
      width: 194px;
      }
      @include for-size(desktop) {
      width: 362px;
      }
      }
  }
  &-circle {
    margin: 0 auto;
    margin-bottom: 11px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $green-bg;
    text-align: center;
    padding-top: 15px;
    @include for-size(tablet) {
      width: 67px;
      height: 67px;
      padding-top: 18px;
      }
  }
  &-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.66;
    @include for-size(tablet) {
      font-size: 20px;
      }
  }
  &-text {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 1.6;
    @include for-size(tablet) {
      font-size: 18px;
      }
  }
  &-description {
    background-color: $green-bg;
    color: $white-text-color;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    @include for-size(tablet) {
      width: 384px;
      height: 564px;
      }
    @include for-size(desktop) {
      width: 680px;
      height: 460px;
  }
    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.66;
      margin-bottom: 5px;
      @include for-size(tablet) {
      font-size: 20px;
      }
    }
    &-title {
      font-weight: 300;
      font-size: 38px;
      line-height: 1.26;
      margin-bottom: 25px;
    }
    &-full {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 14px;
      @include for-size(tablet) {
      font-size: 18px;
      margin-bottom: 20px;
      }
    }
  }
}
.button {
  border: 1px solid $white-text-color;
  margin:0;
  &:focus,
 &:hover {
   background-color: $white-text-color;
    color: $green-text-color;
    fill: $green-text-color;
    opacity: 1;
 }
}

.cases {
  padding-top: 50px;
  color: $black-text-color;
  font-weight: 400;
  text-align: center;
  padding-bottom: 39px;
  &-description {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 15px;
    @include for-size(tablet) {
      font-size: 20px;
      }
    @include for-size(desktop) {
    padding-left: 28px;
    padding-right: 28px;
      }
  }
  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 35px;
  }
  &-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 37px;
    @include for-size(tablet) {
      font-size: 18px;
      }
  }
  &-list {
    display: block;
    margin: 0 auto;
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
    &-photo {
      margin-bottom: 7px;
    }
  }
}

.blog {
  background-color: $blue-bg;
  color: $white-text-color;
  padding-bottom: 30px;
  width: 320px;
  margin: 0 auto;
  @include for-size(tablet) {
    width: 768px;
    display: block;
    padding-bottom: 0;
    &-details {
      width: 384px;
    }
    &-box {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
      }
  }
  @include for-size(desktop) {
    width: 1360px;
    &-details {
      width: 680px;
    }
  }
  &-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 5px;
    padding-left: 30px;
    padding-top: 30px;
    @include for-size(tablet) {
      font-size: 20px;
    }
  }
  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 25px;
    padding-left: 30px;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;
    @include for-size(tablet) {
      font-size: 18px;
    }
  }
  &-button {
    background-color: $blue-bg;
    border:1px solid $white-text-color;
    @include for-size(desktop) {
    margin-left: 30px;
    }
    &:hover,
    &:focus {
      color: $blue-bg;
      background-color: $white-text-color;
      opacity: 1;
    }
  }
}
.team {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  &-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 15px;
    @include for-size(tablet) {
      font-size: 20px;
    }
  }
  &-list {
    @include for-size(tablet) {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      position: relative;
      @include for-size(desktop) {
      width: 420px;
    }
    }
  }

  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 35px;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 37px;
    @include for-size(tablet) {
      font-size: 18px;
    }
  }
}
.member{
  &-name {
    margin-top: 15px;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.25;
    margin-bottom: 11px;
    @include for-size(tablet) {
      font-size: 25px;
    }
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    @include for-size(tablet) {
      font-size: 18px;
      margin-bottom: 19px;
    }
  }
  &-foto {
    opacity: 1;
  display: block;
  transition: .5s ease;
  // backface-visibility: hidden;
  }
  &-foto:hover {
      transform: scale(1.15);
      box-shadow: 20px 15px 15px rgb(59, 59, 59);
    }
} 
.request {
  background-color: $secondary-bg;
  padding-bottom: 30px;
  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    &-box {
      width: 384px;
    }
  }
  @include for-size(desktop) {
      &-box {
      width: 680px;
    }
    }
    &-box {
      position: relative;
    }
  &-layout {
    display: block;
    width: 320px;
    margin: 0 auto;
    @include for-size(tablet) {
      width: 768px;
    }
    @include for-size(desktop) {
      width: 1360px;
    }
  }
  &-title {
    margin-top: 26px;
    margin-bottom: 34px;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
  }
  &-input {
    display: block;
    margin: 0 auto;
    margin-bottom: 36px;
    width: 260px;
    height: 40px;
    background-color: $white-text-color;
    border: none;
     @include for-size(desktop) {
      width: 620px;
      margin: 0;
      margin-bottom: 36px;
    }
    
  }
  &-button {
    width: 260px;
  }
}
.footer {
  color: $white-text-color;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $black-text-color;
   @include for-size(tablet) {
    padding-right: 230px;
    padding-left: 230px;
    font-size: 18px;
    }
    @include for-size(desktop) {
    padding-right: 530px;
    padding-left: 530px;
    }
  &-social-links {
    display: flex;
    // fill: $white-text-color;
    padding-left: 16px;
    padding-right: 16px;
    width: 256px;
    justify-content: space-between;
     @include for-size(tablet) {
    width: 287px;
    }
  
  }
}
.filter {
  width: 100%;
  height: 186px;
   @include for-size(tablet) {
    height: 148px;
    }
    @include for-size(desktop) {
    height: 280px;
    }
  background-color: gray;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
}

.team-list-item:hover .member-foto {
  opacity: 0.3;
}

.team-list-item:hover .filter {
  opacity: 0.6;
  transform: scale(1.15);
  box-shadow: 20px 15px 15px rgb(59, 59, 59);
}

.team-social-link {
  margin-top: 50%;
  transform: translateY(-50%);
  fill: $white-text-color;
    &:hover,
    &:focus {
      fill-opacity: 0.8;
    }
  }

  .social-link {
    fill: $white-text-color; 
      &:hover,
      &:focus {
        fill: #28a745;
      }
  }
  .newHeader {
    opacity: 1;
    position: fixed;
  }
  .headerScrolled {
    opacity: 0.8;
    background-color: rgb(88, 90, 90);
  }

  .warning-icon {
    color: red;
  }
  .warning-icon::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../images/svg/worning.svg');
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    bottom: 75px;
    right:20px;
      @include for-size(tablet) {
      bottom: 114px;
      right:51px;
      }
      @include for-size(desktop) {
      bottom: 229px;
      right:51px;
      }
  }

  .warning-icon::before {
    content: 'This is a required field';
    display: block;
    position: absolute;
    width: 235px;
    bottom: 62px;
    right:51px;
      @include for-size(tablet) {
      bottom: 110px;
      right:51px;
      }
       @include for-size(desktop) {
      bottom: 217px;
      right: 190px;
      }
  }