    <section class="cases container">
      <p class="cases-description">This is what we do</p>
      <h2 class="cases-title">Business Cases</h2>
      <p class="cases-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
      <ul class="cases-list">
        <li class="cases-list-photo">
          <picture>
            <source
              srcset="
                ./images/optimise-images/desktop-office.webp   1x,
                ./images/optimise-images/desktop-office2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desktop-office.jpg   1x,
                ./images/optimise-images/desktop-office2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-office.webp   1x,
                ./images/optimise-images/tablet-office2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-office.jpg   1x,
                ./images/optimise-images/tablet-office2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-office.webp   1x,
                ./images/optimise-images/mobile-office2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-office.jpg   1x,
                ./images/optimise-images/mobile-office2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-office.jpg"
              alt="team in office"
              style="width: 100%"
            />
          </picture>
        </li>
        <li class="cases-list-photo">
          <picture>
            <source
              srcset="
                ./images/optimise-images/desktop-nout.webp   1x,
                ./images/optimise-images/desktop-nout2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desktop-nout.jpg   1x,
                ./images/optimise-images/desktop-nout2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-nout.webp   1x,
                ./images/optimise-images/tablet-nout2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-nout.jpg   1x,
                ./images/optimise-images/tablet-nout2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-nout.webp   1x,
                ./images/optimise-images/mobile-nout2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-nout.jpg   1x,
                ./images/optimise-images/mobile-nout2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-nout.jpg"
              alt="desctop with laptop"
              style="width: 100%"
            />
          </picture>
        </li>
        <li class="cases-list-photo">
          <picture>
            <source
              srcset="
                ./images/optimise-images/desktop-copybook.webp   1x,
                ./images/optimise-images/desktop-copybook2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desktop-copybook.jpg   1x,
                ./images/optimise-images/desktop-copybook2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-copybook.webp   1x,
                ./images/optimise-images/tablet-copybook2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-copybook.jpg   1x,
                ./images/optimise-images/tablet-copybook2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-copybook.webp   1x,
                ./images/optimise-images/mobile-copybook2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-copybook.jpg   1x,
                ./images/optimise-images/mobile-copybook2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-copybook.jpg"
              alt="copybook on the table"
              style="width: 100%"
            />
          </picture>
        </li>
        <li class="cases-list-photo">
          <picture>
            <source
              srcset="
                ./images/optimise-images/desktop-sky.webp   1x,
                ./images/optimise-images/desktop-sky2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desktop-sky.jpg   1x,
                ./images/optimise-images/desktop-sky2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-sky.webp   1x,
                ./images/optimise-images/tablet-sky2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-sky.jpg   1x,
                ./images/optimise-images/tablet-sky2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-sky.webp   1x,
                ./images/optimise-images/mobile-sky2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-sky.jpg   1x,
                ./images/optimise-images/mobile-sky2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-sky.jpg"
              alt="skyscrapers"
              style="width: 100%"
            />
          </picture>
        </li>
        <li class="cases-list-photo">
          <picture>
            <source
              srcset="
                ./images/optimise-images/desctop-handshake.webp   1x,
                ./images/optimise-images/desctop-handshake2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desctop-handshake.jpg   1x,
                ./images/optimise-images/desctop-handshake2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-handshake.webp   1x,
                ./images/optimise-images/tablet-handshake2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-handshake.jpg   1x,
                ./images/optimise-images/tablet-handshake2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-handshake.webp   1x,
                ./images/optimise-images/mobile-handshake2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-handshake.jpg   1x,
                ./images/optimise-images/mobile-handshake2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-handshake.jpg"
              alt="handshake ander the table"
              style="width: 100%"
            />
          </picture>
        </li>
        <li class="cases-list-photo">
          <picture>
            <source
              srcset="
                ./images/optimise-images/desktop-girl.webp   1x,
                ./images/optimise-images/desktop-girl2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desktop-girl.jpg  1x,
                ./images/optimise-images/desktop-girl2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-girl.webp   1x,
                ./images/optimise-images/tablet-girl2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-girl.jpg   1x,
                ./images/optimise-images/tablet-girl2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-girl.webp   1x,
                ./images/optimise-images/mobile-girl2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-girl.jpg   1x,
                ./images/optimise-images/mobile-girl2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-girl.jpg"
              alt="girl in glasses with team"
              style="width: 100%"
            />
          </picture>
        </li>
        <li class="cases-list-photo">
          <picture>
            <source
              srcset="
                ./images/optimise-images/desktop-hands.webp   1x,
                ./images/optimise-images/desktop-hands2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desktop-hands.jpg   1x,
                ./images/optimise-images/desktop-hands2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-hands.webp   1x,
                ./images/optimise-images/tablet-hands2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-hands.jpg   1x,
                ./images/optimise-images/tablet-hands2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-hands.webp   1x,
                ./images/optimise-images/mobile-hands2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-hands.jpg   1x,
                ./images/optimise-images/mobile-hands2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-hands.jpg"
              alt="shaking hands"
              style="width: 100%"
            />
          </picture>
        </li>
        <li class="cases-list-photo">
          <picture>
            <source
              srcset="
                ./images/optimise-images/desktop-smile.webp   1x,
                ./images/optimise-images/desktop-smile2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desktop-smile.jpg   1x,
                ./images/optimise-images/desktop-smile2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-smile.webp   1x,
                ./images/optimise-images/tablet-smile2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-smile.jpg   1x,
                ./images/optimise-images/tablet-smile2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-smile.webp   1x,
                ./images/optimise-images/mobile-smile2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-smile.jpg   1x,
                ./images/optimise-images/mobile-smile2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-smile.jpg"
              alt="smile girl working"
              style="width: 100%"
            />
          </picture>
        </li>
      </ul>
    </section>
